
th.taskHeader{
  width: 150px;
  padding-bottom: 20px;
  text-align: center;
}

td.cellParams{
  width: 150px;
  color: blue;
  text-align: center;
}

table.taskTable{
  width: 400px;
}

button.addTask{
  margin-top: 50px;
}
